.flex {
  display: flex;
  align-items: center;
}

.align-items-center {
  align-items: center;
}

.gap-2 {
  gap: 0.5rem;
}

.w-8rem {
  width: 8rem;
}

.sm\:w-auto {
  @media (min-width: 640px) {
    width: auto;
  }
}
