.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
  }

  .loginCard{
    display: flex;
    justify-content: center;
  }
  
  .usernameLabel {
    display: flex;
    justify-content:left;
  }

  .passwordLabel {
    display: flex;
    justify-content:left;
    padding-top: 1rem;
  }

  .usernameInput {
    display: flex;
    justify-content:left;
  }

  .passwordInput {
    display: flex;
    justify-content:left;
  }

  .firstNameLabel {
    display: flex;
    justify-content:left;
    padding-top: 1rem;
  }

  .lastNameLabel {
    display: flex;
    justify-content:left;
    padding-top: 1rem;
  }

  .firstNameInput {
    display: flex;
    justify-content:left;
  }

  .lastNameInput {
    display: flex;
    justify-content:left;
  }

  
  .loginButton {
    display: flex;
    justify-content: right;
  }
    
  
    