<div class="container">
    <p-card header="Welcome!" subheader="Please login or create a new account." [style]="{ width: '400px' }">
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button (onClick)="showLoginDialog()" label=" Login" />
                <p-dialog header="Welcome back" [modal]="true" [(visible)]="visible" [style]="{ width: '20rem' }">
                    <div class="username">
                        <p-floatLabel>
                            <input pInputText id="username"/>
                            <label for="username">Username</label>
                        </p-floatLabel>
                    </div>
                    <div class="password">
                        <p-floatLabel>
                            <input pInputText id="password"/>
                            <label for="password">Password</label>
                        </p-floatLabel>
                    </div>
                    <div class="login">
                        <p-button label="Login" (onClick)="visible = false" />
                    </div>
                </p-dialog>
                <body>
                    OR
                </body>
                <p-button label="Create Account" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>