.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
}

.username {
  display: flex;
  justify-content: left;
  padding-bottom: 1rem;
}

.password {
  display: flex;
  justify-content: left;
}

.login {
  display: flex;
  justify-content: right;
}
  

  